.login-container {
    background-image: url('../assets/images/login.jpeg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    opacity: 0.9; 
    border-radius: 10px;
  }
  
  .logo {
    width: 100px;
  }
  